@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Rajdhani:wght@400;600&display=swap');

/* Extensiones personalizadas */
@layer utilities {
  .drop-shadow-neon-primary {
    filter: drop-shadow(0 0 5px #61d4b3) drop-shadow(0 0 10px #61d4b3) drop-shadow(0 0 20px #61d4b3);
  }
  .drop-shadow-neon-secondary {
    filter: drop-shadow(0 0 5px #f038ff) drop-shadow(0 0 10px #f038ff) drop-shadow(0 0 20px #f038ff);
  }
  .shadow-neon-primary {
    box-shadow: 0 0 5px #61d4b3, 0 0 10px #61d4b3, 0 0 20px #61d4b3;
  }
  .shadow-neon-secondary {
    box-shadow: 0 0 5px #f038ff, 0 0 10px #f038ff, 0 0 20px #f038ff;
  }
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

